@import "settings/__settings";
@import "util/__util";
@import "components/__components";
@import "pages/__pages";
@import "../../../node_modules/bootstrap/scss/bootstrap.scss";

* {
  box-sizing: border-box;
}

body {
  font-family: $font-default;
  padding: 0;
  margin: 0;
}

.wrapper {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

main {
  padding: 2em 0;
}

.paper-title {
  text-transform: capitalize;
}

.search-result {
  text-align: left;
  margin-bottom: 3em;
}

.search-result ul {
  margin-top: 0;
  list-style: none;
}

.search-result h3, h4 {
  margin-bottom: 0;
}

p.fos-list {
  width: 100%;
  margin: 0;
  overflow-wrap: break-word;
}

span.fos-span {
  padding-right: 1.5em;
}

p.year {
  margin: 0;
  font-weight: lighter;
}

.spinner {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  margin: auto;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}

form label {
  display: block;
}

form input {
  display: block;
}

.ac_container {
  position: relative;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  // top: 100%;
  // left: 0;
  // right: 0;
  margin-bottom: 10%;
}

.ac_container div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.ac_container div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}
.ac_active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}