@import "settings/__settings";
@import "util/__util";
@import "components/__components";
@import "pages/__pages";

* {
  box-sizing: border-box;
}

body {
  font-family: $font-default;
  padding: 0;
  margin: 0;
}

.wrapper {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

main {
  padding: 2em 0;
}

.paper-title {
  text-transform: capitalize;
}

.search-result {
  text-align: left;
  margin-bottom: 3em;
}

.search-result ul {
  margin-top: 0;
  list-style: none;
}

.search-result h3, h4 {
  margin-bottom: 0;
}

p.fos-list {
  width: 100%;
  margin: 0;
  overflow-wrap: break-word;
}

span.fos-span {
  padding-right: 1.5em;
}

p.year {
  margin: 0;
  font-weight: lighter;
}